@font-face {
    src: url(fonts/ndot-47-inspired-by-nothing.otf);
    font-family: Ndot47;
}

@font-face {
    src: url(fonts/SourceCodePro-VariableFont_wght.ttf);
    font-family: sourcecode;
}

* {
    font-family: sourcecode, "helvetica", sans-serif;
    font-weight: normal;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
}

body {
    background-color: #D9D9D9;
    max-width: 1500px;
    overflow-x: hidden;
    opacity: 0;
    transition: opacity 1s, transform 0.5s cubic-bezier(0.87, -0.01, 1, 1);
}

body.loaded {
  opacity: 1;
}

#transition-overlay {
  position: fixed;
  top: 0;
  left: 100%;
  width: 100%;
  height: 100vh;
  background: #F2BB06;
  opacity: 0;
  z-index: 9999;
  pointer-events: none;
  transition: left 0.6s ease, opacity 0.1s ease;
}

#transition-overlay.active {
  left: 0;
  opacity: 1;
  pointer-events: auto;
}

.mae {
    display: flex;
    margin: 0;
}

.grupo {
    width: -webkit-fill-available;
    position: relative;
    margin-left: 3%;
    margin-right: 3%;
}

p {
    font-size: 1.6vw;
}

#legenda {
    writing-mode: sideways-rl;
    rotate: 180deg;
    font-size: 0.8vw;
}


img {
    max-width: 65%;
}

#texto1 {
    position: absolute;
    bottom: 0;
}



h2 {
    font-size: 3vw;
    font-style: italic;
    background-color: #032068;
    color: white;
    width: fit-content;
    margin-top: 13%;
}

h3 {
    color: white;
    width: fit-content;
    background-color: #F2BB06;
    font-size: 1.6vw;
}

.link {
    color: #B80529;
    text-decoration: underline;
}

#destaque {
    background-color: white;
    font-weight: 600;
}

#texto2 {
    position: absolute;
    bottom: 0;
    margin-bottom: 15%;
}

#texto3 {
    margin-top: 15%;
}

#texto4 {
    margin-top: 15%;
    margin-left: 4%;
}

#espaço1 {
    padding-bottom: 20%;
}

#espaço2 {
    padding-bottom: 70%;
}

#espaço3 {
    padding-bottom: 5%;
}

#titulohide {
    font-size: 3vw;
    font-style: italic;
    background-color: #032068;
    color: white;
    width: fit-content;
    margin-top: 13%;
    margin-right: 10%;
    display: none;
}


#fixedbutton {
    font-family: Ndot47, source code, "helvetica", sans-serif;
    font-size: 1.5vw;
    position: fixed;
    bottom: 2%;
    right: 3%;
    background-color: #B80529; 
    color: white;
}

#fixedbutton:hover {
    background-color: white;
    color: #B80529;
}

#btnlink {
    color: black;
    text-decoration: none;
    font-size: 1.6vw;
    width: fit-content;
    border-style: solid;
    border-color: #F2BB06;
    margin-bottom: 10%;
}

#btnlink:hover {
    background-color: #F2BB06;
    color: white;
}

#btnlink2 {
    color: black;
    text-decoration: none;
    font-size: 1.6vw;
    width: fit-content;
    border-style: solid;
    border-color: #032068;
    margin-bottom: 10%;
}

#btnlink2:hover {
    background-color: #032068;
    color: white;
}


@keyframes slideIn {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}


@media (max-width: 600px) {
    .mae {
        display: flex;
        flex-direction: column;
    }
    img {
        max-width: 100%;
    }

    p {
        font-size: 4vw;
    }

    #legenda {
        writing-mode: horizontal-tb;
        rotate: none;
        font-size: 2vw;
        margin-left: 1%;
    }

    h2 {
        display: none;
    }
    h3 {
        font-size: 4vw;
        margin-top: 5%;
    }
    #texto1 {
        position: relative;
        margin-bottom: 5%;
        margin-top: 2%;
    }
    #texto2 {
        position: relative;
        margin-bottom: 5%;
        margin-top: 2%;
    }

    #texto3 {
    margin-top: 0%;
    margin-bottom: 15%;
    }

    #texto4{
        margin-left: 0%;
        margin-right: 0%;
        margin-top: 5%;
        margin-bottom: 15%;
    }

    #titulohide {
        font-size: 5vw;
        margin-left: 3%;
        margin-top: 3%;
        position: absolute;
        display: block;
    }
    #espaço1 {
        padding-bottom: 10%;
    }

    #espaço2 {
        padding-bottom: 20%;
    }

    

    #btnlink {
        font-size: 4vw;
    }

    #btnlink2 {
        font-size: 4vw;
    }

    #fixedbutton {
        font-size: 4vw;
        bottom: 2%;
        right: 5%;
    }
}