

@font-face {
    src: url(fonts/ndot-47-inspired-by-nothing.otf);
    font-family: Ndot47;
}

@font-face {
    src: url(fonts/SourceCodePro-VariableFont_wght.ttf);
    font-family: sourcecode;
}

* {
    margin-bottom: 1%;
    font-family: sourcecode, "helvetica", sans-serif;
    font-weight: normal;
    text-decoration: none;
    box-sizing: border-box;
}

.container {
display: grid;
  grid-template-columns: auto auto auto auto auto auto;
  background-color: #f5f5f5;
  padding: 1%;
}
.container div{
    background-color: #f1f1f1;
  border: 1px solid black;
  padding: 10px;
  font-size: 30px;
  text-align: center;
}

.transition-link {
    font-size: 1.3em;
    border: none;
    background-color: #f5f5f5;
    color: #F2BB06;
}

.transition-link:hover {
    background-color: #F2BB06;
    color: white;
}

body {
    background-color: #f5f5f5;
    max-width: 1500px;
    overflow-x: hidden;
    opacity: 0;
    transition: opacity 1s, transform 0.5s cubic-bezier(0.87, -0.01, 1, 1);
}

body.loaded {
  opacity: 1;
}

#transition-overlay {
  position: fixed;
  top: 0;
  left: 100%;
  width: 100%;
  height: 100vh;
  background: #f2bb0600;
  opacity: 0;
  z-index: 9999;
  pointer-events: none;
  transition: left 0.6s ease, opacity 0.1s ease;
}

#transition-overlay.active {
  left: 0;
  opacity: 1;
  pointer-events: auto;
}

.mae {
    display: flex;
    margin: 0;
}

.grupo {
    width: 25%;
    position: relative;
    margin-left: 1%;
    margin-right: 3%;
}

p {
    font-size: 0.8em;
}

img {
    max-width: 25%;
}

#img2{
    max-width: 75%;
    margin: auto;
    margin-top: 15%;
}

#texto1 {
    position: absolute;
    bottom: 0;
}



h2 {
    font-family: Ndot47, "helvetica", sans-serif;
    position:fixed;
    font-size: 3em;
    font-style: none;
    background-color: #032068;
    color: white;
    width: fit-content;
    top:2%;
    right:3%;
}

h2:hover{
    background-color: #f1f1f100;
    color: #032068;
}

h3 {
    color: white;
    width: fit-content;
    background-color: #F2BB06;
    font-size: 1.6vw;
}

.link {
    color: #B80529;
    text-decoration: underline;
}

#destaque {
    background-color: white;
    font-weight: 600;
}

#titulohide {
    font-size: 3vw;
    font-style: none;
    background-color: #032068;
    color: white;
    width: fit-content;
    margin-top: 13%;
    margin-right: 10%;
    display: none;
}


#fixedbutton {
    font-family: Ndot47, source code, "helvetica", sans-serif;
    font-size: 1.5em;
    position: fixed;
    bottom: 2%;
    right: 3%;
    background-color: #032068; 
    color: white;
}

#fixedbutton:hover {
    background-color: white;
    color: #032068;
}


@keyframes slideIn {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

@media (max-width: 1800px) {
    .container{
        grid-template-columns: auto auto auto auto;
    }
}




@media (max-width: 600px) {
    .mae {
        display: flex;
        flex-direction: column;
    }

    .grupo{
        width: 100%;
    }

    img {
        max-width: 100%;
    }

    p {
        font-size: 3vw;
    }

    h2 {
        display: none;
    }
    h3 {
        font-size: 4vw;
        margin-top: 5%;
    }
    #texto1 {
        position: relative;
        margin-bottom: 5%;
        margin-top: 2%;
    }

    #textoIG {
        display: none;

    }

    #titulohide {
        font-size: 5vw;
        margin-top: 3%;
        margin-right: 2%;
        position: absolute;
        display: block;
    }

    #fixedbutton {
        font-size: 4vw;
        bottom: 2%;
        right: 5%;
    }
    .container{
        grid-template-columns: auto;
    }

    #img2{
        max-width: 100%;
        margin-top: 5%;
    }
}