@font-face {
    src: url(fonts/ndot-47-inspired-by-nothing.otf);
    font-family: Ndot47;
}

* {
    font-family: Ndot47, "helvetica", sans-serif;
    font-size: 5.5vw;
    text-decoration: none;
}

#transition-overlay {
  position: fixed;
  top: 0;
  left: 100%;
  width: 100%;
  height: 100vh;
  background: #F2BB06;
  opacity: 0;
  z-index: 9999;
  pointer-events: none;
  transition: left 0.6s ease, opacity 0.1s ease;
}

#transition-overlay.active {
  left: 0;
  opacity: 1;
  pointer-events: auto;
}

body {
    margin: 0;
    overflow-x: hidden;
    opacity: 0;
    transform: translateX(50px);
    transition: opacity 1s, transform 0.5s cubic-bezier(0, 0, 0.14, 0.94);
}


body.loaded {
  opacity: 1;
  transform: translateX(0);
}

p {
    margin: 0;
}

.small-text {
    display: none;
}

article {
    margin-left: 2%;
    padding-top: 1%;
}

.transition-link {
    border: none;
    background-color: white;
    color: #F2BB06;
}

.transition-link:hover {
    background-color: #F2BB06;
    color: white;
}

.btn {
    border: none;
    background-color: white;
    color:#F2BB06;
}
.btn:hover {
    background-color: #F2BB06;
    color: white;
}

@keyframes slideIn {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}


@media only screen and (max-width: 600px) {
  body {
    *{font-size: 11vw;}
    .small-text {display: inline-block;}
    .full-text {display: none;}
  }

}