@font-face {
    src: url(fonts/ndot-47-inspired-by-nothing.otf);
    font-family: Ndot47;
}

* {
    font-family: Ndot47, "helvetica", sans-serif;
    font-size: 1.8rem;
    text-decoration: none;
}

.center{
  display: grid;
  place-items: center;
}


#title {
  font-size:1.8rem;
}

#title2{
  display: none;
}

#transition-overlay {
  position: fixed;
  top: 0;
  left: 100%;
  width: 100%;
  height: 100vh;
  background: #f2bb0600;
  opacity: 0;
  z-index: 9999;
  pointer-events: none;
  transition: left 0.6s ease, opacity 0.1s ease;
}

#transition-overlay.active {
  left: 0;
  opacity: 1;
  pointer-events: auto;
}

body {
    margin: 0;
    overflow-x: hidden;
    opacity: 0;
    transform: translateX(50px);
    transition: opacity 1s, transform 0.5s cubic-bezier(0, 0, 0.14, 0.94);
}


body.loaded {
  opacity: 1;
  transform: translateX(0);
}

p {
    margin: 0;
}

article {
    margin-left: 2%;
    padding-top: 1%;
    margin-top: 20%;
}

#btnHide{
  display: none;
}

.transition-link {
    border: none;
    background-color: white;
    color: #F2BB06;
}

.transition-link:hover {
    background-color: #F2BB06;
    color: white;
}

.btn {
    border: none;
    background-color: white;
    color:#F2BB06;
}
.btn:hover {
    background-color: #F2BB06;
    color: white;
}

@keyframes slideIn {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}


@media only screen and (max-width: 600px) {
  body {
    *{font-size: 15vw;}
    .center{margin-top: 0%;}
    #title{display: none;}
    #title2{display: contents;
      justify-items: center;
      font-size: 24vw;}
    article{margin-top: 0;}
    #btn1st{display: none;}
    #btnHide{display: grid;
    justify-items: left;
    margin-top: 5%;}
  }

}